Flask==3.1.2
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Werkzeug==3.1.4
Jinja2==3.1.6
click==8.3.1
itsdangerous==2.2.0
markupsafe==3.0.3
SQLAlchemy==2.0.45
blinker==1.9.0
colorama==0.4.6
greenlet==3.3.0
typing-extensions==4.15.0
